@using Syncfusion.EJ2
@model ProjectMgt.ViewModels.KanbanViewModel

@{
    ViewBag.Title = "Kanban";
}

<h2>Kanban Board</h2>



<div>
    
    @Html.EJS().Kanban("kanban").KeyField("Status").DataSource(Model.TasksList).Columns(col =>
    {
        col.HeaderText("To Do").KeyField("Open").Add();
        col.HeaderText("In Progress").KeyField("In Progress").Add();
        col.HeaderText("Testing").KeyField("Validate").Add();
        col.HeaderText("Done").KeyField("Done").Add();
    }).CardSettings(card =>  {
                                 card.ContentField("Summary").HeaderField("Title");
    }).Render()
</div>

<div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title newTask" id="exampleModalLabel">New task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Save", "Kanban"))
                    {
                        <div class="form-group">
                            @Html.TextBoxFor(k => k.Kanban.Title, new { placeholder = "Title", @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(k => k.Kanban.Summary, new { placeholder = "Type", @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(k => k.Kanban.Estimate, "{0:d MMM yyyy}", new { placeholder = "Estimate", @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(k => k.Kanban.Assignee, new { placeholder = "Assignee", @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.DropDownListFor(k => k.Kanban.Status, new SelectList(Model.StatusPriorities, "", "Status"), "status", new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.DropDownListFor(k => k.Kanban.Priority, new SelectList(Model.StatusPriorities, "", "Priority"), "priority", new { @class = "form-control" })
                        </div>

                        @Html.HiddenFor(k => k.Kanban.Id)
                        @*@Html.HiddenFor(k => k.Kanban.RankId)*@
                        <button type="submit" class="btn btn-primary">Add</button>


                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .newTask {
        width: fit-content;
        height: fit-content;
        font-family: "Segoe UI";
        font-size: 25px;
        font-weight: 700;
        line-height: 47px;
        text-align: center;
        text-decoration: underline;
    }

    

</style>
